extends layout

block content
  h1= title
  p Welcome to #{title}
  h2= Location
  p Address: BTM 2nd Stage, Bangalore.
  a(href = "/contact") Contact us 
  br
  a(href = "/users/hobbies") Show hobbies
    
